<?xml version="1.0" encoding="utf-8"?>
<!--
  Fichier de configuration IIS / ASP.NET Core Module (ANCM).
  Généré/écrasé automatiquement lors d'un `dotnet publish`, il est fourni ici
  pour documenter l'hébergement in-process derrière IIS.
-->
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <handlers>
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
      </handlers>
      <aspNetCore processPath="dotnet"
                  arguments=".\GestionStagiaires.Web.dll"
                  stdoutLogEnabled="false"
                  stdoutLogFile=".\logs\stdout"
                  hostingModel="inprocess" />
    </system.webServer>
  </location>
</configuration>
